html {
    background-color: #F8F8FF;
}

h1{
    padding: 15px 0px 15px 100px;
}


div #timer{
    padding-left: 14rem;
    font-size: 2em;
}

.button{
    padding: 10px;
    background-color: #F8F8FF;
    font-size: 15px;
    margin-left:170px;
}



